{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
