<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quepasa Alpujarra</title>
    <script type="application/javascript">
        __APOLLO_DATA__ = {{{ apolloData }}};
    </script>
</head>
<body>
    <div id="app">{{{ appBody }}}</div>
    <script type="application/javascript" src="/bundle.js"></script>
</body>
</html>
